@import "bootstrap";


body {
  background-color: #B6B6B6;
  text-align: center;
}

.logo {
  width: 300px;
  height: 160px;
}

.title {
  font-size: 500px;
}

   .bio {
     @extend .row;
     @extend .text-muted;

   .head {
      @extend .col-sm-2;

    img {
      @extend .img-responsive;
      @extend .img-circle;
    }
  }
}
