// stylesteets/components.scss

// First include Bootstrap
@import "bootstrap";
@import "bootstrap/buttons";
@import "bootstrap/forms";
// Below import your components' scss files
// @import "components/base";
// @import "components/todo-item";
body {
  background-color: #B6B6B6;
}

.logo {
  width: 300px;
  height: 160px;
}

.title {
  font-size: 500px;
}

   .bio {
     @extend .row;
     @extend .text-muted;

   .head {
      @extend .col-sm-2;

    img {
      @extend .img-responsive;
      @extend .img-circle;
    }
  }
}
