// stylesteets/components.scss

// First include Bootstrap
@import "bootstrap";
@import "bootstrap/buttons";
@import "bootstrap/forms";
// Below import your components' scss files
// @import "components/base";
// @import "components/todo-item";
body {
  background-color: #D9E2E2;
}

.logo {
    width: 200px;
    height: auto;
    padding-bottom: 20px;
    margin-top: -40px;
    margin-left: 10px;
}

.title {
  font-size: 500px;
}

.navv {
background-color: #C5CCD1;
padding-bottom: 10px;
}

.colo {
  background-color: #51DACF;
  color: #1A2F4B;
  width: 80px;
  height: auto;
  font-weight: 200;
  margin-top: 25px;

}

   .bio {
     @extend .row;
     @extend .text-muted;

   .head {
      @extend .col-sm-2;

    img {
      @extend .img-responsive;
      @extend .img-circle;
    }

  }
}
.navbar {

    min-height: 100px;



         overflow: visible;
         z-index: 99;
         box-shadow: 0px 3px 3px gray;
  }

  .Site-content {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      padding: 1.5em 1.5em 0;
      width: 100%;
      padding-bottom: 20px;
  }

  .Footer {
      padding: 24px;
      padding: 1.5rem;

      color: #999;
      font-size: .85em;
      text-align: center;

 bottom: 0;
 width: 100%;

  width: 100%;
 position: fixed;
      bottom: 0px;

      overflow: visible;
      z-index: 99;
      padding-top: 5px;
      padding-bottom: 3px;
      background: white;
      border-top: solid white 2px;
      background-color: #404040;
      -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
      box-shadow: 0px -5px 15px 0px #bfbfbf;
      height: 55px;
}
