// stylesteets/components.scss

// First include Bootstrap
@import "bootstrap";
@import "bootstrap/buttons";
@import "bootstrap/forms";
// Below import your components' scss files
// @import "components/base";
// @import "components/todo-item";
body {
  background-color: #D9E2E2;
}

.logo {


  width: 220px;
  height: auto;
  padding-bottom: 20px;
  margin-top: -40px;

}

.title {
  font-size: 500px;
}

.navv {
background-color: #C5CCD1;
padding-bottom: 10px;
}

.colo {
  background-color: #51DACF;
  color: #1A2F4B;
  width: 80px;
  height: auto;
  font-weight: 200;
}

   .bio {
     @extend .row;
     @extend .text-muted;

   .head {
      @extend .col-sm-2;

    img {
      @extend .img-responsive;
      @extend .img-circle;
    }

  }
}
